﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Styles/Image/icon_logo.png" type="image/png">
    <title>EasyVpyska</title>   
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    @System.Web.Optimization.Styles.Render("~/bundles/home")
</head>
<body class="demo-2">
    @Html.Partial("LogIn")
    <div id="container" class="container intro-effect-fadeout">
        <header class="header">
            <div class="bg-img">
                <img src="~/Styles/Image/main-pic.jpg" alt="Background Image" />
            </div>
            
            @if (User.Identity.IsAuthenticated)
            {
                <div class="log"><span id="logOut">Log out</span></div>
            }
            else
            {
                <div class="log"><span id="logIn">Log in</span></div>
            }

            <div class="title">
                <h1>Easy Vpyska</h1>
                <p class="subline">Your home is everywhere</p>
            </div>

            <div class="title">
                <h1>Easy Vpyska</h1>
                <p class="subline">Your home is everywhere</p>
            </div>
        </header>
        <button class="trigger" data-info="Click to see more"><span>Trigger</span></button>
        <div class="content">
            <div class="main-btn">
                <button id="rent" onclick='window.location = "@Url.Action("Index","CreateAd") ";' class="button button--wayra button--border-thick button--text-upper button--size-s">
                    CREATE
                </button>
                <button id="find" onclick='window.location = "@Url.Action("Index","SearchAd") ";' class="button button--wayra button--border-thick button--text-upper button--size-s">
                    SEARCH
                </button>
            </div>
        </div>

        <footer class="foot"> made by Team4 | EPAM | 2015 </footer>
    </div>
       

    @System.Web.Optimization.Scripts.Render("~/bundles/homePage")

</body>
</html>
