﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Error.aspx.cs" MasterPageFile="~/MasterAdminPage.Master" Inherits="EasyVpyska.WebUI.Admin.Error" %>

<asp:Content ID="pageHead" ContentPlaceHolderID="headTitle" runat="server">
    <h1>Welcome to Admin page</h1>
    </asp:Content>

 <asp:Content ID="StartContent" ContentPlaceHolderID="content" runat="server">
    <div class="Error"> 
        <div>
                <asp:Label ID="lblWhat" runat="server" Text=""></asp:Label>
            </div>
        <br/>
            <div>
                <asp:Label ID="lblWhy" runat="server" Text=""></asp:Label>
            </div>
        <br/>
            <div>
                <asp:Label ID="lblSuggestion" runat="server" Text=""></asp:Label>
            </div>
        </div>
       </asp:Content>
