﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
  
    bool? LoginedUser = ViewBag.UserLog ?? false; 
    int? UserId = ViewBag.loginUsersId ?? default(int?);
    int? adsCount = ViewBag.AdsCount ?? 0;

    EasyVpyska.Entities.User user = ViewBag.Profile ?? null;
    
    int? enableCount = ViewBag.EnableCount ?? 0;

    int? Age = ViewBag.Age ?? default(int?);

}

@section Styles{
    @System.Web.Optimization.Styles.Render("~/bundles/user")
}

@section Menu{
    <a href="@Url.Action("Index","CreateAd") "><i class="fa fa-fw fa fa-plus"></i><span>Create an ad</span></a>
    <a href="@Url.Action("Index","SearchAd") "><i class="fa fa-fw fa fa-search"></i><span>Search an ad</span></a>
    <a href="@Url.Action("Index","Map")"><i class="fa fa-fw fa fa-globe"></i><span>Look ads at map</span></a>  
}
@section Title{
    <div class="pageTitle">
        <h1></h1>
    </div>
}

    
<div class="wrapp">
    <div id="edit-info">
        @if ((LoginedUser == true) && UserId == user.Id)
        { 
        <a href="/Edit/Index/@UserId"><span>Edit</span><i class="fa fa-fw fa fa-pencil edit"></i></a>
        }
    </div>
        <p class="user-name">@user.FirstName&ensp;@user.SurName</p>
        <table class="user">
            <tr>
                <td class="picture" rowspan="5">
                    <img src="@ViewBag.Image" alt="avatar" />
                </td>
                <td class="left">
                    Age:&ensp;@Age
                </td>
            </tr>
            <tr>
                <td class="left">
                    Country:&ensp;@user.Country
                </td>
            </tr>
            <tr>
                <td class="left">
                    City:&ensp;@user.Town
                </td>
            </tr>
            <tr>
                <td class="left">
                    Email:&ensp;@user.Email
                </td>
            </tr>
            <tr>
                <td class="left">
                    Phone:&ensp;@user.Phone
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="color:#039cb7;">User information:</p>
                    <p>@user.About</p>
                </td>
            </tr>
        </table>
        <div class="profile-btns" id="show-btn">
            @if ((adsCount <= 0) && (LoginedUser == true) && UserId == user.Id)
            { 
                <a href="@Url.Action("Index","CreateAd")" class="button button--wayra-m button--border-thick button--text-upper button--size-xs" id="create-button">Create ad</a>
            }
            else if ((enableCount > 0) || ((LoginedUser == true) && UserId == user.Id))
            {
                <button type="button" class="button button--wayra-m button--border-thick button--text-upper button--size-xs" id="view-button">View all ads</button>                
            }   
        </div>
    <div class="profile-btns" id="hide-btn">
            <button type="button" class="button button--wayra-m button--border-thick button--text-upper button--size-xs" id="view-button">Hide ads</button>
    </div>
        <input type="hidden" id="Id" value=@user.Id>
        
        <div class="users-ads">
            @{Html.RenderPartial("PartialAdsInUserProfile");}
        </div>

    <div id="modal-suitable-ads" title="Suitable ads for your query">
        <div id="suitableAds">
            @{Html.RenderPartial("PartialSuitableAds");}
        </div>
    </div>

    </div>

<div class="footerHigh"></div>
@section Scripts{
      @System.Web.Optimization.Scripts.Render("~/bundles/Profile")
}








