@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../../Fonts/codropsicons/codropsicons.eot');
	src:url('../../Fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../../Fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../../Fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../../Fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body, .container {
	height: 100%;
}

body {
	background: #3b3f45;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 590px;
}

a {
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #fff;
}

.ev {
    height:40px;
    font-size:26px;
    color: #fff;
}
.sign-buttons {
    margin-top:-15px;
    text-align: center;
}
#btnSignIn {
margin-left:12%;
}
#btnSignUp{
margin-left:10%;
}

.error{
    color: #9f0334;
    /*color:aqua;*/
    font-weight: bold;
    font-family:Tahoma;
    padding-top: 10px;
    float: right;
    display: inline-block;
    position: relative;
    z-index: 1;

}

