﻿@{    
    List<EasyVpyska.Entities.Ad> listAds = ViewBag.ListOfAds;

    int? Count = ViewBag.Count ?? default(int?);    
}

<input type="hidden" id="count" value="@Count" />
@if(listAds.Count != 0)
{ 
<ul>
    @foreach (var l in listAds)
    {
        <li>           
            <a class="cbp-vm-image" href="/AdDetails/index/@l.Id">
                <img src=@l.Author.ImageString />
            </a>
            <h3 class="cbp-vm-title">
                @if (l.IsRequest)
                {
                    <span style="font-size: 14px; color: rgba(0,0,0,0.3)">Looking for</span>
                }
                else
                {
                    <span style="font-size: 14px; color: rgba(0,0,0,0.3)">Offer</span>
                }
            <br />
            @l.Title
        </h3>
            <div class="cbp-vm-city">
                <p style="margin:0">From: @l.BeginTime.ToString("dd.MM.yy")</p>
                <p style ="margin:0">To: @l.EndTime.ToString("dd.MM.yy")</p>
                <strong>@l.Town</strong>
            </div>
            <div class="cbp-vm-details">
                @l.Description
            </div>
            <a class="cbp-vm-add" href="/AdDetails/index/@l.Id">View Details</a>
        </li>
    }
</ul>
}
else
{
    <p class="no-result">No results for your request</p>
}