﻿@{
    List<EasyVpyska.Entities.Ad> ads = ViewBag.SuitableAds;
}

@if(ads!= null && ads.Count>0)
{ 
    <div id="piece">
    @foreach (var a in ads)
    {
        <h3>@a.Title</h3>
        <div>
            <p id="suitableAuthor"><a href="/User/Index/@a.Author.Id">@a.Author.FirstName</a></p>
            <p id="suitableAge">Age: @a.Author.Age</p>
            <p id="suitableDate">@a.BeginTime.ToString("dd.MM.yyyy") - @a.EndTime.ToString("dd.MM.yyyy")</p>
            <p id="suitableDescription">@a.Description</p>
            <span id="suitableCity">@a.Town</span>
            <p id="suitableLink"><a href="/AdDetails/Index/@a.Id">View ad</a></p>
        </div>
    }
        </div>
        <p id="searchLink"><a href="@Url.Action("Index", "SearchAd")">View more</a></p>
    }
else
{
    <p id="sorry-message">Sorry, we can`t find any ads for you. Try later!</p>    
}
