﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error404";
}

@section Styles{

    @System.Web.Optimization.Styles.Render("~/bundles/error")

}
@section Menu{
    <a href="@Url.Action("Index","CreateAd") "><i class="fa fa-fw fa fa-plus"></i><span>Create an ad</span></a>
    <a href="@Url.Action("Index","SearchAd") "><i class="fa fa-fw fa fa-search"></i><span>Search an ad</span></a>
    <a href="@Url.Action("Index","Map")"><i class="fa fa-fw fa fa-globe"></i><span>Look ads at map</span></a>

}
@section Title{
    <div class="pageTitle">
        <h1>HTTP ERROR 404 - Page Not Found</h1>
    </div>
}
<div class="error-body">
    <p>The request URL was not found</p>
    <p></p>
</div>

