﻿.gm-style-iw { 
   color: black;
   font-family: Georgia;
}
.header {   
    font-size:18px;   
    margin:0;
    background-color:#039cb7;
    
}
.name {
    font-weight: bold;
    margin:0;    
    color: white;
     height:20px;
    text-align: center;
}
#content {
    margin-top: 12px;
    color: black;
    font-size:14px;
    text-align: left;
    max-width:250px;
}
.link {
    text-align: right;
}
.link a {
    color: black;
    text-decoration: underline;
}
.link a:hover {
    color: #039cb7;
}

.date {
    text-align: center;
    color: black;
    font-size: 16px;
    margin-top: 12px;
}