﻿html,
body {
    height: 100%;
}
.LogIn {
    background-position: center;
    height: 300px;
    margin-left:40%;
    font: bold 20px Tahoma;
    color: black;
    margin-top:10%;
}
#btns {
    position:relative;
    width:100%;
    text-align:center;
    margin-top:20px;  
}
#btnSignOut {
    font-size:12px;
}
.Error {
    background-position: center;
    height: 300px;
    text-align:center;
    font: bold 32px Tahoma;
    color: red;
    margin-top:10%;
}
.UserTable th	{      
    background-color: black;
    color: white;
    text-align:center;
    min-width:40px;
}    
.pager {
    font: 20px arial;
    color: white; 
    margin:0;    
    float: left;
    padding:0;
    border-color: #CCCCCC;
}
.pager:hover {
    color: black;
    
}
.headerblack {
   height:140px; 
   background:#2b2828;   
   width: 100%;
}
.headerblack h1 {
    color: white;
    margin-top:25px;
    text-align:center;
    font-family: 'Segoe Script';
    font-size:46px;
    background:#2b2828;
    font-weight: bold;
}
.blackFooter {
    height:100px; 
    background:#2b2828;   
    background-position:bottom;
    width: 100%;
}
.blackFooter h3 {
    color: white;
    margin-top:35px;
    background:#2b2828;
    text-align:center;
    height:100%;   
    font-family: 'Segoe Script';
    }
.content-box {
    margin-bottom:50px;
    margin-top:50px;
    margin-right: 10%;
    margin-left: 12%; 
}
.wrap {
  min-height: 100%;
  width: 100%;
  position: relative;
}
.wrap [rel="main"] {
  padding-bottom: 100px;
}
.wrap footer {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0;
}
.place {
    width: 100%;
}
.info {  
    font: 16px arial;
    color: black;     
    display: inline-block;
    margin-bottom:50px;
}
.search {    
    display: inline-block;
    margin-bottom:30px;
    width: 100%;
    font: 16px arial;
}
.logout {
    border-radius:5px;
    margin-right:20px;
}
.logout:hover {
    color: black;
}
.marg {
    margin-bottom:15px;
    margin-top:15px;
}
